/*

@media only screen and (min-width: 600px) {

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  } */

  /* Media queries */
  @media (max-width: 768px) and (max-width:1440px) {
    .topbar-btn-container{
  float: right;
    }
}
  /* Media queries */
  @media (max-width: 768px) {
    .brand-logo {
      padding-left: 15px;
    }
    #navbarNav {
      padding-right: 0;
      padding-left: 0;
      text-align: left;
    }
    .nav-link {
      font-size: medium;
    }
  }
  @media (min-width: 376) {
    .brand-logo {
      height: 30px;
      padding-left: 0;
      text-align: center;

    }
    .nav-link {
      font-size: small;
    }
  }




    @media (min-width: 320px) and (max-width:768px)  {
        .intro{
            padding-top: 90px;
            padding-left: 30px;
            font-size: small;

        }
        }

  @media  (min-width:768px) and (max-width:1291px) {
        .intro{
            padding-top: 90px;
            padding-left: 30px;
            font-size: small;

        }
        }

  @media (min-width:1024px) {

    .intro{
        padding-top: 50px;
        padding-left: 90px;
        }
        }


        @media (min-width: 2560px)  {
        .intro{
            padding-top: 300px;
            padding-left: 110px;
        font-size: xxx-large;

        }
        }
        /* @media (max-width:768px) {
            .intro{
                padding-top: 80px;
                padding-left: 40px;
                font-size: large;


            }
            } */

    @media (min-width: 376px) and (max-width:768px) {
        .itm{
            color: aliceblue;
        }
        }

    @media (min-width: 320px) and (max-width:768px) {
        .covepage{
            border-top-left-radius: 40%;
            border-bottom-right-radius: 40%;
            background-color:#191b1b;
            box-shadow:  rgb(7, 185, 179) 0px 3px 8px;


        }
        .itm{
            color: aliceblue;
        }
        }

    @media (min-width: 320px) and (max-width:768px) {
   .heading_section{

    font-size: 16px;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
   }

 }

    @media (min-width: 320px) and (max-width:767px) {
   .department-group-image{

    width: 100%;
    height: auto;
    transition: transform 0.4s;

}
.bn5 {
    padding: 0.3em 1em;
    border: 1px solid rgb(11, 232, 232);
    outline: none;
    color: rgb(221, 217, 217);
    background: rgb(20, 16, 51);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 24px;
    height: auto;
    width: auto;
    text-decoration: none;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }


 }

@media  (min-width:768px) and (max-width:1291px) {
    .img-fluid-custom{
        width: 100%;
       height: 100%;
        transition: transform 0.4s;
      }
      .club{
        padding-bottom: 100px;
      }
    }

@media  (min-width:768px) {

      .club{
        padding-bottom: 100px;
      }
    }



  @media (min-width: 968px) and (max-width: 1291px) {
    .department-single-image{
        width: 100%;
        height:auto;
        transition: transform 0.4s;
      }
    }
  @media (min-width: 320px) and (max-width:768px) {
    .club {
      padding-bottom: 150px;
      align-items: center;
      justify-content: center;

      }
    }

  @media (min-width: 320px) and (max-width: 768px) {
    .fac_text {
        width:96%;
      }
    }
  @media (min-width: 320px) and (max-width: 991px) {
    .item-bg{
        background-image:linear-gradient(rgb(243, 243, 243),#70b1c5d3);
         background-size: cover;
         background-position: center;
         border-top-left-radius:6px ;
         border-top-right-radius: 6px;

      }
    }
  @media (min-width: 320px) and (max-width: 425px) {
    .item-bg{
        background-image:linear-gradient(rgb(243, 243, 243),#70b1c5d3);
         background-size: cover;
         background-position: center;
         height: 200px;
         width:100%;

      }
    }
  @media (min-width: 768px) and (max-width: 1440px) {
    .item-bg{
        background-image:linear-gradient(rgb(243, 243, 243),#70b1c5d3);
         background-size: cover;
         background-position: center;

      }
    }
  @media (min-width: 768px) and (max-width: 1440px) {
   .child-div{
        height: 110px;
        background-color: rgb(4, 30, 35);
        padding: 5px;
    }
    }
  @media (min-width: 768px) and (max-width: 1440px) {
   .bn50{
    border: 1px solid rgb(24, 182, 222);
    border-top-right-radius:  35px;
    border-bottom-left-radius: 35px;
    outline: none;
    color: rgb(221, 217, 217);
    background: #1f1e1e;
    cursor: pointer;
    position: relative;
    z-index: 0;
    width: auto;
    text-decoration: none;
    font-size: small;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 0px 16px;
    }
    }























































/* Base styles for all devices */


  /* Extra small devices (phones, less than 600px) */


/* Media Queries for Responsive Design */

/* Extra small devices (phones, less than 576px) */
.section-p1{
    padding: 40px 80px;
    /* background-color: #189d92; */
  }
  .section-m1{
    margin: 40px 0px;
  }
  #Feature{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  }


  #Feature .fe-box{
    width: 150px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 15px 15px 15px  rgb(0, 0,0,0.06);
    border: 1px solid whitesmoke;
    border-radius:4px;

  }
  #Feature .fe-box h6{
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  cursor: pointer;
  }
  #Feature .fe-box h6:hover{
  background-color: #088178;
  color: #ffffff;
  }

  #Feature .fe-box .btn1{
    background-color: #050505;
    font-size: medium;
    color: #000000;
  }
  #Feature .fe-box .btn1{
    background-color: #81ee8a;
    font-size: medium;
  }
  #Feature .fe-box .btn2{
    background-color: #66eba8;
    font-size: medium;
  }
  #Feature .fe-box .btn3{
    background-color: #f1b25f;
    font-size: medium;
  }
  #Feature .fe-box .btn4{
    background-color: #dff75a;
    font-size: medium;
  }
  #Feature .fe-box .btn5{
    background-color: #6cf160;
    font-size: medium;
  }
  #Feature .fe-box .btn6{
    background-color: #f8c843;
    font-size: medium;
  }

  #Feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;

  }


